body{font-family:'Open Sans',sans-serif;color:#131313;}
a:active,a:focus,a:hover{outline:none!important;}
ul,li{list-style:none;}
ul,ol{padding:0;}
img{max-width: 100%;}
.common-banner{color:#fff;background:url(../images/home-banner.jpg)no-repeat scroll 0 0 / cover;padding:100px 0;position:relative;}
.common-banner::before{content:"";background:rgba(0,0,0,0.6);position:absolute;top:0;bottom:0;right:0;left:0;}
.common-banner .banner-inner{position:relative;z-index:1;}
.common-banner h1{font-weight:bold;font-size:43px;}
.common-banner h3{font-size:20px;margin-top:50px;font-weight:bold;color:#fff;}
.about-banner{color:#fff;background:url(../images/product/about-banner.jpg)no-repeat scroll 0 0 / cover;padding:10.5rem 0;}
.about-banner h2{font-weight:600;font-size:30px;margin-bottom:2rem;}
.about-banner p{font-size:17px;line-height:30px;margin-bottom:0;}
.white{color:#fff!important;}
p:last-child{margin-bottom:0;}
.semi-bold{font-weight:600!important;}
.font-20{font-size:20px!important;}
.font-25{font-size:25px!important;}
.hd-2.with_tick{color:var(--color-basegreen);}
.hd-3{font-size:20px;font-weight:bold;}
.hd-2.with_tick::before{content:url(../images/circle-outline.png);font-family:FontAwesome;font-size:28px;padding-right:12px;font-weight:normal;position:relative;top:2px;}
.bg-color{background:var(--color-lightbg);}
.light-grn-bg {
    background: rgba(36, 158, 86, 0.06);
}
.light-grey-bg {
    background: #FBFBFB;
}

.ylw_play_btn.red {
    background: #AD4058;
    box-shadow: 0px 5px 0 #9A2B43;
}
.ylw_play_btn {
    background: #FFB300;
    padding: 15px 30px;
    max-width: 285px;
    display: inline-block;
    text-align: center;
    box-shadow: 3px 3px 0 #C28C0C;
    font-weight: 600;
    font-size: 20px !important;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    width: 100%;
}

.ylw_play_btn:hover {
    color: #000;
}
.ylw_play_btn.grn {
    background: #249E56;
    box-shadow: 0 3px 0 #178A46;
}
.ylw_grad_btn {
    padding: 15px 30px;
    max-width: 285px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 17px !important;
    color: #fff;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 8px 0px #F70;
    background-image: linear-gradient(144deg, #ffb300 0%, #ff7700 100%);
}
.ylw_grad_btn:hover {
    color: #000;
}
.hd-3.green_tick {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.hd-3.green_tick::before {
    content: "\f058";
    font-family: fontawesome;
    border-radius: 50%;
    text-align: center;
    color: #249e56;
    margin-right: 15px;
    position: relative;
}
.cmn-padd {
    padding: 5rem 0;
}

.hd-2 {
    font-size: 28px;
    font-weight: bold;
    position: relative;
}
.hf_bar h2 {
    background: #249E56;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 0 #1B8F4B;
    margin-bottom: 2.5rem;
    position: relative;
}
.hf_bar h2::before {
    content: "\f058";
    font-family: fontawesome;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 9px;
    position: relative;
}
.hf_bar_text {
    color: #fff;
    background: #249E56;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 0 #1B8F4B;
    margin-bottom: 2.5rem;
    position: relative;
}
.hf_bar_text h2 {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}
.hf_bar_text h2::before {
    content: "\f058";
    font-family: fontawesome;
    border-radius: 50%;
    text-align: center;
    margin-right: 9px;
    position: relative;
}
.light_red_bg {
    background: rgba(238,101,101,0.06);
}
.yellow_points li {
    position: relative;
    padding-left: 30px;
    margin: 1rem 0;
}
.yellow_points li::before {
    content: "\f105 ";
    font-family: fontawesome;
    background: #ffb300;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 9px;
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    line-height: 18px;
    text-align: center;
    top: 3px;
    padding-left: 2px;
}
.green-txt {
    color: #249E56 !important;
}

/*##########  Navigation ############*/
.nw_header .nav-link {
    color: #131313;
    font-size: 14px;
    padding: 0 14px !important;
    display: flex;
    align-items: center;
}

.nw_header .nav-link img {
    margin-right: 6px;
}

.nw_header .navbar-brand {
    display: flex;
}

.nw_header form {
    margin-left: 3rem;
    width: 100%;
    max-width: 338px;
}

.nw_header form input {
    background: url(../images/search.png)no-repeat scroll left 18px top 13px;
    padding: 8px 8px 8px 40px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.nw_header form input::placeholder {
    color: #929292;
    opacity: 1;
}

.nw_header {
    padding: 2rem 0;
}

.nw_header .nav-link:hover {
    color: #249e56;
}

/*##########  Gamb Box  ############*/
.hash-sell h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.rec_box h3 {
    background: #249E56;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 5px 5px 0 #137D3E;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.hash-sell {
    margin: 0rem 0 3rem 0;
    max-width: 860px;
}

.gamb_box .bonus_box:nth-child(1), .gamb_box .bonus_box:nth-child(2) {
    border-right: 0;
}

.gamb_box {
    border: 4px solid transparent;
    padding: 3rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1rem;
    transition: 0.3s;
    box-shadow: 0px 0px 0px 1px #ccc inset;
}

.gamb_box:hover {
    border: 4px solid #ffb300;
    box-shadow: none;
}

.gamb_sites {
    counter-reset: section;
}

.gamb_box::before {
    counter-increment: section;
    content: counter(section)"";
    position: absolute;
    top: 0;
    left: 0;
    background: #249E56;
    color: #fff;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 24px;
}

.gamb_box .left_side .site_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
}

.gamb_box .img_box {
    height: 133px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.gamb_box .left_side .site_logo .visit_site {
    font-size: 17px;
    text-decoration: none;
    background: #AD4058;
    width: 100%;
    text-align: center;
    padding: 13px 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 0 #9A2B43;
    color: #fff;
}

.gamb_box .right_side {
    flex: 1;
}

.gamb_box .bonus_box {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.gamb_box .main_bonus_box {
    display: flex;
    margin-bottom: 30px;
}

.gamb_box .bonus_box .small {
    font-size: 13px;
}

.gamb_box .bonus_box .title {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}

.yellow {
    color: #FFB300;
}

.gamb_box .bonus_box .condition {
    color: #808080;
    font-size: 9px;
}

.gamb_box .bonus_box.dark {
    background: #F8F8F8;
}

.gamb_box .pros h3 {
    font-size: 17px;
}

.gamb_box .pros li {
    position: relative;
}

.gamb_box .pros li::before {
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 10px;
    color: #0AC710;
}

.gamb_box .review .small {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
}

.cards_logo li:not(:last-child) {
    margin-right: 5px;
}

.star_review_box ul li {
    margin-right: 4px;
    font-size: 12px;
}

.star_review_box span {
    margin-left: 2px;
    color: #ccc;
    font-size:  12px;
}

.gamb_box .star_review_box span strong {
    color: initial;
}

.gamb_box .review .read_review {
    font-size: 12px;
    color: inherit;
}

.gamb_box .left_side {
    padding-right: 6rem;
}

.gamb_box .pros li {
    position: relative;
    font-size: 13px;
    margin-bottom: 4px;
}

.tandc .read_review {
    font-size: 17px;
    text-decoration: none;
    background: #AD4058;
    width: 100%;
    text-align: center;
    padding: 13px 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 0 #9A2B43;
    color: #fff;
    max-width: 280px;
}

.tandc p {
    padding-right: 10px;
}

/*##########  Extensive Preview  ############*/
.extensive_review {
    background: rgba(36, 158, 86, 0.05);
}

.extensive_review h2::before {
    content: "\f058";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 28px;
    color: #249E56;
    padding-right: 12px;
}

.extensive_review li:not(:last-child) {
    margin-bottom: 2rem;
}

/*##########  How it works  ############*/
.how_work {
    background: url(../images/how_work.jpg)no-repeat scroll 0 0 / cover;
    position: relative;
}

.how_work::before {
    content: "";
    background: #249E56;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.9;
}

.how_work p {
    line-height: 1.8;
}

/*##########  Free Games  ############*/
.free_games .card_box {
    margin-bottom: 2rem;
}

.free_games .card_box img {
    width: 100%;
    border-radius: 5px;
    height: 253px;
    object-fit: cover;
    object-position: top;
}
.free_games .ylw_play_btn {
    max-width: 100%;
}
.free_games .card_box h3 {
    font-size: 15px;
    margin: 1rem 0;
}

.poker_site thead {
    background: #249E56;
    color: #fff;
}

.poker_site thead th {
    padding: 37px 1rem;
    font-weight: normal;
}

.poker_site th {
    font-weight: normal !important;
}

.poker_site .table {
    font-size: 15px;
}

.poker_site table td {
    padding: 20px 1.5rem;
}

.poker_site table tr td, .poker_site table tr th {
    border: 1px solid #ccc !important;
}

/*##########  Trust Us  ############*/
.trust_us h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.trust_us .content {
    font-size: 15px;
}

.trust_us li {
    margin: 1.8rem 0;
    padding: 0.2rem 0.2rem 0.2rem 15px;
}

.trust_us li:nth-child(3n+1) {
    border-left: 7px solid #249E56;
}

.trust_us li:nth-child(3n+2) {
    border-left: 7px solid #FFB300;
}

.trust_us li:nth-child(3n+3) {
    border-left: 7px solid #AD4058;
}

.trust_us .img_wrap img {
    width: 100%;
    max-width: 500px;
}

.trust_us li:last-child {
    margin-bottom: 0;
}

/**###############################   Check it out   ############################### **/
.game_guides .we_rate {
    margin-bottom: 2rem;
}

.game_guides .we_rate small {
    font-weight: bold;
    color: #249E56;
    font-size: 17px;
}

.game_guides .we_rate h3 {
    font-weight: bold;
    font-size: 40px;
    max-width: 320px;
    margin: 10px 0 20px 0;
}

.game_guides .icon_slots .icon_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 1rem;
    border: 1px solid rgba(36, 158, 86, 0.23);
    border-radius: 3px;
    margin-bottom: 1rem;
    min-height: 230px;
    background: rgba(36, 158, 86, 0.06);
}

.game_guides .icon_slots .icon_box span {
    color: #249E56;
    font-weight: bold;
    margin-top: 1.4rem;
}

.icon_slots {
    padding-left: 8rem;
}

.black_list_logo {
    position: relative;
}

.black_list_logo::before {
    background: #E10000;
    content: "";
    height: 62px;
    width: 434px;
    display: flex;
    position: absolute;
    border-radius: 4px;
    opacity: 0.15;
}

.black_list_logo img {
    margin-left: 2.1rem;
}

.black_list_logo h3 {
    font-size: 20px;
    font-weight: bold;
    color: #E10000;
    margin-left: 2.5rem;
    margin-bottom: 0;
}

.black_box li {
    padding-left: 25px;
    position: relative;
}

.black_box li::before {
    background: url(../images/remove.png)no-repeat scroll left center / 15px;
    content: "";
    position: absolute;
    top: 4px;
    width: 15px;
    height: 15px;
    left: 0;
}

.black_box .grand {
    padding-left: 25px;
    position: relative;
    margin-top: 2rem;
    font-weight: bold;
}

.black_box .grand::before {
    background: url(../images/alarm.png)no-repeat scroll left center / 15px;
    content: "";
    position: absolute;
    top: 4px;
    width: 15px;
    height: 15px;
    left: 0;
}

.black_box .grand span {
    display: block;
    color: #E10000;
    font-weight: normal;
}

.black_box ul li {
    margin-top: 10px;
}

.black_box img {
    width: 100%;
    border-radius: 3px;
}

.casino_program .box h3 {
    color: #9A2B43;
    font-size: 20px;
    font-weight: bold;
    max-width: 300px;
}

/**###############################   FAQ CSS   ############################### **/
.game_guides .faq_container {
    border: 1px solid rgba(36, 158, 40, 0.29);
    margin-bottom: 18px;
    padding: 8px 30px;
    border-radius: 4px;
}

.game_guides .faq_question {
    margin: 0px;
    padding: 0;
    cursor: pointer;
    display: table;
}

.game_guides .question {
    font-size: 14px;
    display: table-cell;
    width: 100%;
    font-weight: 600;
    padding: 10px 0;
    background: none !important;
    color: #000 !important;
}

.game_guides .faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
}

.game_guides .accordion-button-icon {
    display: table-cell;
    line-height: inherit;
    padding-left: 15px;
    vertical-align: middle;
    font-size: 22px;
    color: #000;
}

.game_guides .faq-section {
    background: #0e293a;
}

.game_guides .faq_question:after {
    display: none;
}

.game_guides .faq_container:last-child {
    margin-bottom: 0;
}

.game_guides .faq_container.open {
    box-shadow: 0 10px 21px rgba(0, 0, 0, 0.18);
}

.game_guides .question img {
    margin-right: 15px;
}

/*##########  Footer  ############*/
.footer-play {
    background: #178444;
    padding: 2rem 0;
}


.red_btn {
    background: #AD4058;
    color: #fff !important;
    text-decoration: none;
    border-radius: 3px;
    padding: 7px 20px;
    width: 100%;
    display: block;
    text-align: center;
    min-width: 110px;
}

.red_btn_light {
    background: rgba(173, 64, 88, 0.28);
    color: #9A2B43 !important;
    text-decoration: none;
    border-radius: 3px;
    padding: 3px 20px;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
}

/* #############   Footer  ###########*/
footer .footer-play p {
    font-size: 13px;
    padding-right: 4rem;
}

footer {
    background: #249E56;
    color: #fff;
    position: relative;
}

footer .footer-bottom {
    background: #fff;
    padding: 1.3rem 0;
}

footer .footer-top {
    padding: 5rem 0 3rem 0;
}

footer .footer-bottom p {
    margin-bottom: 0;
    font-family: open sans;
    font-weight: 500;
    font-size: 11px;
    color: #929292;
}

footer .footer-about p {
    font-size: 13px;
    color: #fff;
    font-family: open sans;
    line-height: normal;
}

footer a {
    font-size: 13px !important;
    color: #fff;
    font-family: open sans;
    text-decoration: none !important;
}

footer .footer-about h4 {
    font-size: 20px;
    font-weight: 600;
}

footer a:hover {
    font-size: 14px;
    color: #000;
    font-family: open sans;
}

footer .footer-links ul li a {
    padding: 0 0 10px;
    display: block;
}

footer h3 {
    margin: 0 0 30px;
    font-family: open sans;
    font-size: 16px;
    text-transform: uppercase;
}

footer .footer-widget {
    display: flex;
}

footer .footer-widget li.ft-space {
    padding: 0 40px;
    flex: 1;
}

footer .footer-widget li.ft-space:first-child {
    padding-left: 0px;
}

footer .footer_menu li a {
    color: #249E56;
    font-weight: bold;
    position: relative;
    padding: 0 10px;
}

footer .footer_menu li a:hover {
    color: #000;
}

footer .footer_menu li a::after {
    content: "";
    height: 14px;
    position: absolute;
    right: 0;
    width: 2px;
    background: #249E56;
    top: 3px;
}

footer .footer_menu li:last-child a::after {
    display: none;
}

footer .footer_menu li:last-child a {
    padding-right: 0;
}

footer .stay_connect ul li a {
    margin: 0 10px;
    font-size: 14px !important;
}

footer .stay_connect p {
    font-size: 13px;
}

footer .stay_connect .inner {
    border-top: 1px solid #3FB770;
    padding: 1.5rem 0;
}



/*******##################   Review Page  #################****************/

.review_banner {
    background: var(--bg-main-review);
    border-bottom: 5px solid var(--color-lightyellow);
}
.review_banner .ylw_play_btn {
    width: 100%;
}
.review_banner .rw_logo {
    background: var(--bs-white);
    border-radius: 10px;
    max-width: 281px;
    min-height: 155px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review_banner.black .rw_logo {
    background: var(--color-bodyfont);
}
.review_banner .rw_logo img {
    max-width: 100%;
}
.cash_bonus strong {
    font-size: 74px;
}
.cash_bonus span {
    font: normal normal bold 24px/26px Open Sans;
}
.cash_bonus p {
    line-height: 1;
}
.cash_bonus small {
    font: normal normal normal 14px/18px Open Sans;
    display: block;
}
.review_banner ul.list li {
    position: relative;
    font-size: 13px;
    margin: 0 0 5px 0;
}
.review_banner ul.list li:last-child {
    margin-bottom: 0;
}
.review_banner ul.list li::before {
    content: "\f058";
    font: normal normal normal 13px/1 FontAwesome;
    padding-right: 7px;
}
.review_banner .star_review_box span strong {
    color: var(--bs-white);
}

.review_page .promo_nav .bg_special a {
    background: var(--color-basegreen);;
    border-radius: 3px;
    opacity: 1;
    color: var(--bs-white);
    width: 333px;
    display: block;
    text-align: center;
    padding: 17px;
}
.review_page .promo_nav li a {
    background: transparent linear-gradient(252deg, #FFF 0%, #F2F2F2 100%) 0% 0% no-repeat;
    border: 1px solid var(--color-lightborder);
    border-radius: 3px;
    text-decoration: none;
    padding: 9px 17px;
    display: flex;
    height: 58px;
    align-items: center;
    font: normal normal 600 15px/21px Open Sans;
    letter-spacing: 0px;
    color: inherit;
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
}
.review_page .promo_nav li {
    flex: 1;
}
.review_page .welcome_boxes ul {
    margin: 0 -2px;
}
.review_page .welcome_boxes .wb_main > li {
    background: var(--bg-welcome-box);
    box-shadow: 0px 3px 6px rgba(var(--color-blackrgba),0.29);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    flex: 1;
}
.review_page .welcome_boxes li.logo_box {
    box-shadow: 0px 3px 6px rgba(var(--color-blackrgba),0.29);
    background: var(--bs-white);
}
.review_page .welcome_boxes.black li.logo_box {
    background: var(--color-bodyfont);
}
.review_page .welcome_boxes li .wb_box small {
    font-size: 17px;
    margin-bottom: 10px;
}
.review_page .welcome_boxes.yellow_green li .wb_box small {
    color: var(--color-basegreen);
}
.review_page .welcome_boxes.yellow_green li .wb_box h3 {
    color: var(--color-lightyellow);
}
.review_page .welcome_boxes.yellow_green .star_review_box span {
    color: var(--color-bodyfont);
    opacity: 0.8;
    font-weight: normal !important;
}
.review_page .welcome_boxes li .wb_box small i {
    font-size: 12px;
}
.review_page .welcome_boxes li .wb_box h3 {
    font-weight: bold;
    font-size: 29px;
    margin-top: 5px;
}
.review_page .welcome_boxes li.last .wb_box span {
    font-size: 12px;
    font-weight: bold;
}
.review_page .welcome_boxes li.last {
    flex: 0 1 386px;
}
.review_page .welcome_boxes li .wb_box {
    width: 80%;
}
.highlight_section .content {
    border-left: 10px solid var(--color-lightyellow);
    background: var(--color-lightbg);
    padding: 3rem;
}
.with_methods .content {
    box-shadow: 0px 3px 6px rgba(var(--color-blackrgba),0.29);
    height: 100%;
    background: transparent linear-gradient(243deg, #FFF 0%, #EEE 100%) 0% 0% no-repeat;
    border-radius: 0 0 10px 10px;
}
.with_methods .content.pointer {
    background: var(--bs-white);
}
.with_methods .content h3 {
    background: var(--color-simplered);
    font-size: 20px;
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    margin-bottom: 0;
}
.with_methods .content.pointer h3 {
    background: linear-gradient(to right, var(--color-simplegreen), var(--color-basegreen));

}
.with_methods .content.pointer ul, .with_methods .content p {
    height: calc(100% - 44px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    padding: 1rem 3rem;
}
.with_methods .content.pointer ul li {
    position: relative;
    margin: 4px 0;
}
.with_methods .content.pointer ul li::before {
    content: "\f105";
    font-family: fontawesome;
    background: #2ca400;
    padding: 2px 5px 2px 7px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-right: 9px;
    position: relative;
    top: -2px;
}
.with_methods .content p {
    background: transparent linear-gradient(243deg, #FFFFFF 0%, #EEEEEE 100%) 0% 0% no-repeat padding-box;
    padding: 1rem;
}
.with_methods .container .row {
    position: relative;
}
.with_methods .container .row::before {
    content: "";
    background: url(../images/coin.png)no-repeat scroll left center;
    position: absolute;
    left: -8%;
    height: 168px;
    width: 168px;
    z-index: -1;
    bottom: 20px;
}
.review_page .full_exp {
    background: url(../images/photo_full_exp.jpg)no-repeat scroll 0 0 / cover;
    position: relative;
}

.review_page .full_exp::before {
    content: "";
    background: var(--bg-full-exp);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.9;
}

.review_page .full_exp p {
    line-height: 1.8;
}

.review_page .small_box span {
    background: var(--bg-infobox);
    padding: 0.2rem 1rem;
}
.review_page .full_exp h3 {
    color: var(--color-lightyellow);
    font-weight: bold;
    font-size: 20px;
}
.faq_container {
    margin-bottom: 1px;
    border-radius: 4px;
}

.faq_question {
    margin: 0px;
    padding: 0;
    cursor: pointer;
    display: table;
    position: relative;
    width: 100%;
}

.open .question {
    background: transparent linear-gradient(180deg, #249E56 0%, #229451 100%, #307B4F 100%) 0% 0% no-repeat;
    color: #fff;
}

.question {
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    padding: 15px 20px;
    background: #e4e4e4;
    color: #fff;
    display: table;
    color: #000;
}
.faq_answer {
    line-height: 1.7;
    padding: 20px 30px;
}
.faq_answer_container {
    background: var(--color-lightbg);
}

.open .faq_question::after {
    transform: rotate(0deg);
}

.accordion-button-icon {
    line-height: inherit;
    padding-left: 15px;
    font-size: 22px;
    position: absolute;
    right: 15px;
    top: 10px;
    color: var(--bs-white);
}

.faq_question::after, .open .faq_question::after {
    content: "\f107";
    font-family: fontawesome;
    position: absolute;
    right: 15px;
    top: calc(50% - 10px);
    color: var(--bs-white);
    font-size: 20px;
    line-height: normal;
}

.faq_question::after{
    color: var(--color-cmngrey);
    transform: rotate(180deg);
}
.faq_container:last-child {
    margin-bottom: 0;
}

.faq_container.open {
    box-shadow: 0 10px 21px rgba(0,0,0,0.1);
}

.question img {
    margin-right: 15px;
}
.review_page .bonus_details ul li {
    padding-bottom: 1.5rem;
}
.review_page .bonus_details ul li h3 {
    background: var(--color-lightyellow);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-size: 20px;
    color: var(--bs-white);
    font-weight: 600;
    position: relative;
}
.review_page .bonus_details ul li h3::before {
    content: "\f105";
    font-family: fontawesome;
    background: #fff;
    padding: 2px 5px 2px 7px;
    border-radius: 50%;
    text-align: center;
    color: #ffb300;
    font-size: 12px;
    margin-right: 9px;
    position: relative;
    top: -2px;
}

.review_page .bonus_details ul li p {
    padding: 0.5rem 0 0 0;
}

.review_page .claim_bonus {
    max-width: 580px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(var(--color-blackrgba),0.29);
    border-radius: 5px;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.review_page .claim_bonus_inner {
    padding-right: 1rem;
    border-right: 1px solid rgba(var(--color-blackrgba),0.2);
    margin-right: 1rem;
}
.review_page .claim_bonus .claim_bonus_inner > span {
    width: 100%;
    display: block;
    font-size: 12px;
}
.review_page .claim_bonus .claim_bonus_inner strong span {
    color: var(--color-basegreen);
}
.review_page .claim_bonus a {
    background: var(--color-basegreen);
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    width: 62px;
    text-align: center;
    padding: 6px 4px;
    border-radius: 3px;
}
.review_page .claim_bonus strong {
    font-size: 28px;
}

.review_page .slot_bar .content {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: normal;
    padding: 0 0px 0 300px;
}
.slot_bar .container-fluid {
    max-width: 1350px;
}
.review_page .slot_bar {
    position: relative;
    background: var(--color-basegreen);
    padding: 2rem 0;
}

.review_page .slot_bar .content img {
    position: absolute;
    left: 0;
}

.progress_wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}
.progress_bar li:not(:last-child) {
    margin-bottom: 1rem;
}
.review_page .case_review tr, .case_review td {
    border-color: rgba(var(--color-whitergba),0.5);
}
.review_page .case_review td {
    padding: 0.82rem 1.5rem;
    background: var(--color-lightbg);
    font-weight: bold;
}
.review_page .case_review td:first-child {
    background: var(--color-simplegrey);
    width: 170px;
}
.review_page .case_review .table {
    border-left: 7px solid var(--color-basegreen);
    border-right: 7px solid var(--color-basegreen);
}
.review_page .case_review .progress_wrap {
    font-weight: bold;
}
.review_page .progress_bar .progress-bar {
    background-color: var(--color-lightyellow);
}
.review_page .bonus_details .cmn_content ul li {
    padding-bottom: 0;
}
.pros_cons .content.pointer {
    height: auto;
}
.star_review_box h4 {
    font-weight: bold;
    font-size: 15px;
}
.main_star_review_box .star_review_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main_star_review_box {
    height: calc(100% - 44px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.main_star_review_box .star_review_box ul li {
    font-size: 20px;
    margin-right: 6px;
}
.pros_cons.with_methods .row::before {
    content: "";
    background: url(../images/yellow_dotted.png)no-repeat scroll top center;
    left: 0;
    right: 0;
    width: 100%;
    top: 25%;
    height: 253px;
}
.pros_cons.with_methods .inner_content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem 3rem;
}
.pros_cons .center_block .logo_bonus {
    background: rgba(var(--color-blackrgba));
    padding: 17px 15px;
    border-radius: 10px 10px 0 0;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pros_cons .center_block .logo_bonus img {
    max-height: 70px;
}
.pros_cons .center_block {
    height: 100%;
    box-shadow: 0px 3px 6px #00000029;
    background: transparent linear-gradient(243deg, #FFF 0%, #EEE 100%) 0% 0% no-repeat;
    border-radius: 0 0 10px 10px;
}
.pros_cons.with_methods .content {
    background: var(--bs-white);
    flex: 1;
}
.pros_cons .center_block p span {
    color: var(--color-basegreen);
}
.pros_cons .center_block p {
     font-weight: 600; 
     font-size: 13px; 
}
.pros_cons.with_methods .content ul li {
    font-size: 13px;
}
.pros_cons.with_methods .content.pointer.cons h3 {
    background: var(--color-brightred);
}
.pros_cons.with_methods .content.pointer.cons ul li::before, .pros_cons.with_methods .content.pointer.pros ul li::before {
    background: none;
    font-size: 13px;
    top: 0px;
    margin-right: 5px;
    padding: 0;
}
.pros_cons.with_methods .content.pointer.cons ul li::before{content: "\f057";color: var(--color-brightred);}
.pros_cons.with_methods .content.pointer.pros ul li::before{content: "\f058";color: var(--color-basegreen);}
.pros_cons .star_review_box span {
    color: rgba(var(--color-blackrgba));
}
.pros_cons.with_methods .overall_rate .content h3 {
    background: var(--color-lightyellow);
}
.pros_cons .row {
    margin: 0 -30px;
}
.pros_cons .col-12 {
    padding: 0 30px;
}
.dot_boxes {
    padding: 2rem 5rem;
    position: relative;
    height: 100%;
    border-radius: 5px;
    line-height: 2;
}
.dot_boxes h3 {
    font-size: 17px;
    font-weight: bold;
    color: var(--color-basegreen);
}
.dot_boxes::before {
    content: "";
    background: var(--color-basegreen);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.06;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
.dot_boxes::after {
    content: "";
    border: 3px dashed #249E56;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.08;
    border-radius: 5px;
}
.betting_option li {
    position: relative;
    padding-right: 10px;
    width: 16%;
    padding-bottom: 1rem;
}
.betting_option li::before {
    content: "\f0da ";
    font-family: fontawesome;
    background: #2ca400;
    padding: 2px 5px 2px 7px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-right: 9px;
    position: relative;
    top: -2px;
}
.content_quote {
    background: var(--color-basegreen);
    position: relative;
}

.content_quote blockquote {
    background: url(../images/metro-quote.png)no-repeat left top 0px;
    padding-left: 60px;
    font-size: 22px;
    padding-top: 20px;
    margin-top: 2rem;
}
.content_quote .quote_name {
    float: right;
    font-size: 22px;
    font-style: italic;
}
.content_quote .main_title {
    background: var(--color-simplered);
    padding: 1rem 3rem;
    font-weight: bold;
    font-size: 33px;
    position: absolute;
    top: -35px;
}
.cmn_content .arrow_list li {
    line-height: 30px;
    position: relative;
    padding-left: 28px;
    margin-bottom: 10px;
}
.cmn_content .arrow_list li::before {
    content: "\f105";
    font-family: fontawesome;
    background: #2ca400;
    padding: 2px 5px 2px 7px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 8px;
    left: 0;
    width: 16px;
    height: 16px;
    line-height: 1;
}
.cmn_content .arrow_list li strong {
    color: var(--color-basegreen);
}
.review_cat .icon_box {
    position: relative;
    padding: 20px;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon_box::after {
    border: 1px solid var(--color-basegreen);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.23;
    border-radius: 3px;
}
.icon_box::before {
    content: "";
    background: var(--color-basegreen);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.06;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
.review_cat li {
    flex: 1;
    margin: 0 5px 5px 0;
}
.review_cat .icon_box .icon_name {
    font-size: 12px;
    color: var(--color-basegreen);
    font-weight: bold;
    margin-top: 15px;
}
.review_page .bonus_details ul.color_list li {
    padding-bottom: 0;
}
@media (prefers-reduced-motion: reduce) {
    .collapsing {
        transition-property: height, visibility;
        transition-duration: .35s;
    }
}
/**********#######################################  Sitemap  ######################################********************/
.sites_wrap {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 22px 15px 22px 36px;
    margin-bottom: 1rem;
}
.sites_wrap .drop_tick {
    position: relative;
    margin-bottom: 1rem;
    font-size: 24px;
}
.sites_wrap .drop_tick::before {
    content: "\f13a";
    font-family: fontawesome;
    background: #fff;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    color: #249E56;
    margin-right: 9px;
    position: relative;
    top: 0;
}
.sites_wrap li {
    margin-bottom: 5px;
}
.sites_wrap li a {
    color: #249E56;
    font-weight: 600;
}

/**********#######################################  Privacy  ######################################********************/
.yellow_arrowlist li {
    position: relative;
    margin: 7px 0;
    padding-left: 25px;
}

.yellow_arrowlist li::before {
    content: "\f138";
    font-family: fontawesome;
    border-radius: 50%;
    text-align: center;
    color: #FFB300;
    margin-right: 8px;
    position: absolute;
    left: 0;
}

/**********#######################################  Betting Guide  ######################################********************/
.betting-guide.sport-guide {
    background: url(../images/sports-betting-guide/pexels-photo-269948.png);
    height: 100vh;
    display: flex;
    position: relative;
    padding-top: 100px;
}
.main-betting-guide .hd-2.with_tick::before {
    content: url(../images/sports-betting-guide/awesome-check-circle.png);
    top: 9px;
}
.sport-guide .big_img_banner {
    position: absolute;
    right: -180px;
    top: -120px;
    z-index: 2;
}
.sport-guide .big_img_banner img {
    max-width: 80%;
}
.content_box.beg-guide {
    margin-top: -500px;
    z-index: 1;
    position: relative;
}
.betting-guide.sport-guide::before {
    content: "";
    background: linear-gradient(to right, #131313, #005121);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.43;
}
.betting-guide h1 {
    font-size: 42px;
    line-height: 46px;
    color: #ffffff;
    font-weight: 700;
}

.betting-guide p.sub_title {
    font-size: 17px;
    color: #ffb300;
    font-weight: 700;
}

.betting-guide .banner-content {
    position: relative;
}
.main-betting-guide .content_box .shadow_box {
    border-radius: 10px;
    box-shadow: 0px 3px 51.5px rgba(0,0,0,0.19);
    background-color: #ffffff;
    padding: 3rem;
}
.main-betting-guide .content_box p {
    line-height: 28px;
}

.featured_box .card-header {
    background: #FFB300;
    padding: 22px 0 22px 8rem;
    font-size: 21px;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.featured_box .card-header::before {
    content: "";
    background: url(../images/sports-betting-guide/medal-star.png)no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20px;
    top: -20px;
}
.featured_box .card {
    border-radius: 11px 11px 10px 10px;
    background-color: #fffbf1;
    border: 1px solid #ffb300;
}
.featured_box .card .number {
    font-size: 77px;
    line-height: 204px;
    color: #ffb300;
    font-weight: 700;
    text-align: center;
    text-shadow: 2.828px 2.828px 0px rgba(0,0,0,0.16);
    border-right: 2px solid #FFB300;
    margin-right: 30px;
}
.featured_box .card-body {
    padding: 3rem 2rem;
}
.featured_box .ylw_play_btn {
    font-size: 14px !important;
    width: 231px;
}

.featured_box .card-body .logo {
    width: 100%;
    height: 157px;
    border-radius: 5px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 342px;
}

.featured_box .text strong {
    font-size: 39px;
    display: block;
    line-height: normal;
}
.featured_box span {
    font-size: 29px;
    color: #249e56;
    font-weight: 700;
}
.featured_box .ylw_play_btn.grn .fa {
    margin-left: 5px;
}
.featured_box .box {
    padding: 0 20px;
}
.ylw_bg_text span {
    background: #FFB300;
    display: inline-block;
}
.main_black_box {
    border-radius: 10px;
    box-shadow: 0px 3px 3.5px rgba(0,0,0,0.16);
    background-color: #353a40;
    height: 100%;
}

.dark-grn-tick li {
    position: relative;
    padding-right: 10px;
    width: 33%;
    padding-bottom: 1.5rem;
    padding-left: 25px;
}
.dark-grn-tick li::before {
    content: "\f105 ";
    font-family: fontawesome;
    background: #2ca400;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 9px;
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    line-height: 18px;
    text-align: center;
    top: 3px;
    padding-left: 2px;
}
.main-betting-guide .read_reviews .img_wrap {
    text-align: center;
    height: 169px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    border-radius: 10px;
    margin-bottom: 10px;
}
/**********#######################################  Live Dealer Guide Page  ######################################********************/
.betting-guide.dealer-guide {
    background: url(../images/live-dealer-guide/pexels-photo-3279695.png)no-repeat scroll 0 0 / cover;
    height: auto;
    display: flex;
    position: relative;
    padding: 6rem 0;
    height: 580px;
    align-items: center;
    position: relative;
}
.betting-guide.dealer-guide:before {
    content: "";
    background: rgba(0,0,0,0.75);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;

}

.dealer-guide .big_img_banner {
    position: absolute;
    right: 40px;
    top: -16px;
    z-index: 2;
}
.dealer-guide .big_img_banner img {
    max-width: 100%;
    float: right;
}
.play_money {
    background: linear-gradient(to right, #249E56,#367550);
    padding: 66px 0;
}
.play_money .ylw_play_btn {
    max-width: unset;
    width: auto;
}
.play_money .list li {
    position: relative;
    padding-left: 25px;
    margin: 0 0 0.7rem 0;
}
.play_money .list li:last-child {
    margin: 0;
}
.play_money .list li::before {
    content: "\f00c";
    font-family: fontawesome;
    background: #fff;
    border-radius: 50%;
    color: #259c56;
    padding: 3px;
    font-size: 14px;
    position: absolute;
    left: 0;
    width: 19px;
    height: 19px;
    top: 3px;
    line-height: 14px;
}
.play_money h2 {
    font-size: 30px;
    font-weight: bold;
}
.hd-2 i {
    font-size: 20px;
    color: #9A9A9A;
    font-weight: normal;
    margin-top: 5px;
    text-transform: none;
}
.casino_needs .img_wrap {
    box-shadow: 0 3px 90px rgba(87,87,87,0.16);
    padding: 2rem 1rem;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.casino_needs .img_wrap img {
    height: 114px;
    object-fit: contain;
    object-position: top;
    display: inline-block;
}
.casino_needs .img_wrap p {
    font-size: 12px;
    font-weight: bold;
}
.casino_needs .img_wrap:hover {
    background: #FFB300;
    color: #fff;
    box-shadow: 0 3px 90px rgba(255,179,0,0.41);
}
.casino_slot .heading {
    position: relative;
}
.casino_slot .heading::before {
    content: "";
    background: url(../images/live-dealer-guide/curve-down-left-arrow.png);
    position: absolute;
    left: -90px;
    top: 60px;    
    width: 111px;
    height: 111px;
}

.main-betting-guide .featured_box .ylw_play_btn {
    width: 100%;
    max-width: 342px;
    margin-top: 0.5rem;
}
.compatible_with li:not(:last-child) {
    margin-right: 10px;
}
.main-betting-guide .featured_box .points li {
    padding-left: 23px;
    margin: 0.7rem 0;
    position: relative;
    font-size: 13px;
    font-weight: bold;
}
.main-betting-guide .featured_box .points li::before {
    content: "\f00c";
    font-family: fontawesome;
    border-radius: 50%;
    color: #259c56;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0px;
}
.featured_box .card-header.bold {
    font-weight: bold;
}

.liveguide-featured-box .featured_box .card {
    background-color: #fff;
    box-shadow: 0 0 90px rgba(0,0,0,0.08);
    border: 1px solid transparent;
}
.liveguide-featured-box .featured_box .card:hover {
    background-color: #fffbf1;
    border: 1px solid #ffb300;
}
.main-betting-guide .featured_box .ylw_play_btn.grn:hover {
    background: #ffb300;
    box-shadow: 3px 3px 0 #C28C0C;
    color: #fff;
    transition: 0.3s;
}
.cmn_widget h3 {
    background: rgba(36,158,86, 0.06);
    width: 100%;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 13px;
    font-weight: bold;
    color: #249E56;
}
.cmn_widget img {
    margin-right: 5px;
}
.liveguide-featured-box .featured_box .text strong {
    font-size: 36px;
}
.liveguide-featured-box .featured_box .text span {
    font-size: 21px;
}
.liveguide-featured-box .featured_box .box {
    padding: 0;
}
.cmn_widget li {
    position: relative;
    padding-left: 20px;
    margin: 1rem 0;
    font-size: 12px;
    font-weight: bold;
}
.cmn_widget li::before {
    content: "\f005";
    position: absolute;
    left: 0;
    font-family: fontawesome;
    color: #ffb300;
}

.side_widget .cmn_widget:not(:last-child) {
    margin-bottom: 2rem;
}
.live-casino table th {
    background: #FFB300;
    padding: 13px 4px;
}
.live-casino table th:first-child {
    border-radius: 10px 0 0 0 !important;
}
.live-casino table th:last-child {
    border-radius: 0 10px 0 0 !important;
}
.live-casino .online-casino small {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0.7rem;
}
.live-casino .rank {
    font-size: 77px;
    font-weight: bold;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.16);
    color: #FFB300;
}
.live-casino .bonus .percent {
    color: #249E56;
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    line-height: 25px;
    max-width: 140px;
    display: flex;
}
.live-casino .bonus span {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 5px;
    line-height: 1;
}
.live-casino .bonus strong {
    color: #FFB300;
    font-size: 31px;
    display: block;
}
.live-casino .nogames {
    color: #FFB300;
    font-size: 25px;
    font-weight: bold;
}
.live-casino .rtp {
    color: #FFB300;
    font-weight: bold;
}

.live-casino tr td.online-casino {
    min-width: 205px;
}

.live-casino table thead {
    position: relative;
    display: block;
}
.live-casino table tr {
    display: flex;
    width: 100%;
    align-items: center;
}
.live-casino table thead tr {
    align-items: inherit;
}
.live-casino tr td, .live-casino tr th {
    padding: 20px;
    display: block;
    position: relative;
    flex: 1;
    border: none;
}
.live-casino table tbody {
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: 15px;
}
.live-casino table tbody::before {
    border: 1px solid #ffb300;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-top: 0;
    border-radius: 0px 0px 10px 10px;
    z-index: -1;
    background: #FFFBF1;
}
.live-casino .online-casino img {
    width: 205px;
    height: 88px;
    object-fit: contain;
    background: #000;
    border-radius: 5px;
    object-position: center;
}
.live-casino .rank::after {
    content: "";
    border-right: 1px solid #FFB300;
    padding-right: 20px;
}

.live-casino table tbody.grey {
    background: none;
}
.live-casino table tbody.grey::before {
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    background: none;
}

.live-casino table tbody.grey .rank::after {
    border-right: 1px solid #EBEBEB;
}

.live-casino table tbody.grey .nogames , .live-casino table tbody.grey .rtp{
    color: #000;
}
.live-casino .grey .rank {
    color: #ad4058;
    text-shadow: none;
}
.live-casino table tbody:nth-child(2n+4)::before {
    content: "";
    background: rgb(173, 64, 88, 0.06);
    border-color: transparent;
}
.numb_back .img_wrap {
    box-shadow: 0 3px 90px rgba(87,87,87,0.16);
    padding: 2rem 1rem;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    height: 100%;
    position: relative;
    background: #fff;
}
.numb_back {
    counter-reset: numbback;
}
.numb_back .img_wrap p {
    font-size: 13px;
    margin-top: 15px;
}
.numb_back .img_wrap::before {
    counter-increment: numbback;
    content: ""counter(numbback)"";
    position: absolute;
    font-size: 127px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(36, 158, 86, 0.06);
    z-index: -1;
}
.col.mid-vs {
    max-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #FFB300;
}
.dealer_vs li {
    position: relative;
    margin: 20px 0;
    padding-left: 25px;
    line-height: 28px;
}
.dealer_vs li.right:before {
    content: "\f00c";
    font-family: fontawesome;
    border-radius: 50%;
    color: #259c56;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 3px;
}
.dealer_vs li.wrong:before {
    content: "\f00d";
    font-family: fontawesome;
    border-radius: 50%;
    color: #FF0000;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 3px;
}
.dealer_vs {
    box-shadow: 0 3px 15px rgba(87,87,87,0.16);
    padding: 2rem 4rem;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    background: #fff;
}
.main_dealer_vs {
    background: url(../images/live-dealer-guide/path_full.png)no-repeat scroll center 40px;
    padding: 0rem 0 5rem 0;
    background-size: 100%;
}

.game-types {
    background: url(../images/live-dealer-guide/pexels-photo-3678384.jpg)no-repeat scroll right top /cover;
    position: relative;
    margin-top: -10px;
}

.game-types h2::before {
    filter: invert(100%) brightness(10);
}

.game-types::before {
    content: "";
    background: rgba(36, 158, 86, 0.98);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.game-types thead {
    background: #FFB300;
}
.game-types .table td, .game-types .table th, .game-types .table tr {
    border-color: #4D926A;
    padding: 30px;
}
.game-types .table td, .game-types .table th{
    width:33.33%;
}

/**********#######################################  Roulette Guide Page  ######################################********************/
.roulette .big_img_banner {
    right: 20%;
    top: -10px;
}
.betting-guide.roulette {
    height: 400px;
    background: url(../images/roulette-gambling-guide/pexels-photo-3894215.png)no-repeat scroll center top / cover;
}
.why-roulette{
    background: url(../images/roulette-gambling-guide/photo-1592398191627-25b41eeaa398.png)no-repeat center top / cover;
    position:relative;
}

.why-roulette:before{
    content: "";
    background: rgba(255,255,255,0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.why-roulette .yellow_points li {
    font-weight: bold;
}
.top_tips .img_wrap::before {
    display: none;
}
.top_tips .number {
    position: relative;
}
.top_tips .number::before {
    counter-increment: numbback;
    content: ""counter(numbback)"";
    width: 36px;
    height: 36px;
    background: #ffb300;
    color: #fff;
    font-size: 21px;
    border-radius: 50%;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.top_tips .img_wrap::before {
    display: none;
}
.top_tips .img_wrap p {
    max-width: 176px;
    font-size: 16px;
    font-weight: bold;
}

.top_tips::before {
    content: "";
    background: url(../images/roulette-gambling-guide/roulette.png)no-repeat center;
    position: absolute;
    top: -35%;
    right: 20%;
    height: 250px;
    width: 250px;
    z-index: -1;
}
.top_tips .img_wrap:hover {
    background: #249E56;
    color: #fff;
    box-shadow: 0 0 24px rgba(36, 158, 86, 0.6);
}
.roullete-icons li {
    position: relative;
    padding-left: 35px;
    margin: 1rem 0;
}
.roullete-icons li:before {
    content: "";
    background: url(../images/roulette-gambling-guide/roulette-1.png)no-repeat center;
    position: absolute;
    top: 3;
    left: 0;
    height: 25px;
    width: 25px;
}
.roulette-coin .image {
    position: absolute;
    top: -50px;
}

.roulette-learn-play{
    background: url(../images/roulette-gambling-guide/Path-2.png)no-repeat scroll center / 100% 100%;
}

.roulette-learn-play h2:before{
    content: "\f058";
    font-family: fontawesome;
    border-radius: 50%;
    text-align: center;
    margin-right: 9px;
    position: relative;
}

.roulette-dealer {
    background: url(../images/roulette-gambling-guide/path_full.png)no-repeat scroll center;
    background-size: 100%;
}

.roulette-dealer .wrapper {
    box-shadow: 0 3px 15px rgba(87,87,87,0.16);
    padding: 2rem 4rem;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    background: #fff;
}
.bonus-pack h3 {
    font-size: 20px;
    font-weight: bold;
}

/**********#######################################  Slots Guide Page  ######################################********************/
.slots_guide .big_img_banner {
    right: 10%;
    top: -13px;
}
.betting-guide.slots_guide {
    height: 573px;
    background: url(../images/slots-gambling-guide/photo-1517232115160-ff93364542dd.png)no-repeat scroll center top / cover;
}

.slots_guide .big_img_banner img {
    max-width: 511px;
}
.slots_guide .banner-content .list li {
    margin: 8px 0;
    position: relative;
}
.slots_guide .banner-content .list li::before {
    content: "\f00c";
    font-family: fontawesome;
    color: #ffb300;
    padding: 3px;
    font-size: 16px;
    line-height: 14px;
    margin-right: 10px;
}
.step_guide {
    counter-reset: step_guide;
}
.step_guide .number::before {
    counter-increment: step_guide;
    content: counter(step_guide);
    background: #FFB300;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    width: 82px;
    height: 82px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.16);
}
.step_guide .number {
    position: relative;
    right: 75px;
}
.step_guide .wrap_box {
    background: linear-gradient(to bottom, #fff, #ebebeb);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    padding: 2rem;
    margin-left: 45px;
}
.step_guide h3 {
    color: #249E56;
    font-size: 20px;
    font-weight: bold;
}
.under_slots {
    background: linear-gradient(to right, #AD4058, #9A1C38);
}
.under_slots .hd-2.with_tick::before {
    filter: invert(1) brightness(3);
}
.payline_slots .adjust::before {
    content: "";
    background: url(../images/slots-gambling-guide/curve-down-left-arrow.png)no-repeat 0 0;
    position: absolute;
    top: 7px;
    width: 111px;
    height: 111px;
    left: -5px;
    transform: rotate(-26deg);
}
.payline_slots .image {
    position: absolute;
    left: -10%;
    top: -4%;
}

.yellow_bg {
    background: #FFB300;
    z-index: 1;
}
.black_bg_txt span {
    background: #000;
    display: inline-block;
}
.yellow_bg .hd-2.with_tick::before {
    filter: invert(1) brightness(0);
}

.slot_strategy{
    background: url(../images/slots-gambling-guide/photo-1582656975064-04e9452fc60e.jpg)no-repeat 0 0 / cover;
}

.slot_strategy:before{
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.8);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.beat_slot{
    counter-reset: step_guide;
}

.beat_slot .points li {
    position: relative;
    padding-left: 60px;
    padding-bottom: 2rem;
}
.beat_slot .points li:last-child {
    padding-bottom: 0;
}
.beat_slot .points li::before {
    counter-increment: step_guide;
    content: counter(step_guide);
    background: #FFB300;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: -8px;
}
.beat_slot .points li h3 {
    color: #FFB300;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.beat_slot .points li::after {
    content: "";
    height: 96%;
    background: #ccc;
    width: 1px;
    position: absolute;
    left: 22px;
    top: 0;
    z-index: -1;
}
.beat_slot .points li:last-child::after {
    display: none;
}

.poker_room {
    display: flex;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.poker_room .nw_star_rate {
    margin: 0 10px;
}
.poker_room .star_rate .room_name {
    color: #000;
}
.poker_room .price {
    color: #000;
}
.poker_room .room_name {
    color: #000;
}
.poker_room .icon {
    background: #000;
    padding: 10px;
    border-radius: 10px;
    width: 60px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.poker_room_wrap h2 {
    color: #FFB300;
    margin-bottom: 1.5rem;
    padding-left: 50px;
    display: block;
}
.poker_room_wrap h2::before {
    background: url(../images/poker-gambling-guide/diamonds.png);
    content: "";
    position: absolute;
    top: -8px;
    width: 56px;
    height: 56px;
    left: -10px;
}
.poker_room_wrap .ylw_play_btn {
    max-width: unset;
    width: auto;
    line-height: 20px;
}
.poker_guide .big_img_banner {
    right: 0;
}
.poker_guide .big_img_banner img {
    max-width: 87%;
}
.conclusion .ylw_play_btn {
    max-width: none;
    width: auto;
}
.poker_slot .points li.conclusion::before {
    font-family: FontAwesome;
    top: -6px;
    content: "";
    background: url(../images/poker-gambling-guide/check-circle.png)no-repeat scroll 0 0;
    position: absolute;
}
.poker_win_slot li::after {
    display: none;
}
.dotted_green {
    border: 2px dashed #229853;
    border-radius: 10px;
    background: #F6F9F8;
    border-spacing: 9px;
}
.number-list {
    padding-left: 15px;
}
.number-list li {
    list-style: decimal;
    margin: 8px 0;
}
.poker_site .yellow_points li::before{
    content: "";
    top: 5px;
    background: url(../images/poker-gambling-guide/clover.png)no-repeat scroll 0 0;
}
.poker_cards .img_wrap:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(11) contrast(103%);
}
.table_wrap {
    position: relative;
}
.table_wrap::before {
    content: "";
    border: 1px solid #FFB300;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}
.table_wrap thead th {
    background: #ffb300;
}
.table_wrap thead th:first-child {
    border-radius: 10px 0 0 0;
}
.table_wrap thead th:last-child {
    border-radius: 0 10px 0 0;
}
.poker-pack th, .poker-pack td {
    padding: 20px 25px;
}

/**********#######################################  Black Jack Guide Page  ######################################********************/
.betting-guide.black_guide {
    background: url(../images/blackjack-gambling-guide/pexels-photo-4253692.png)no-repeat scroll 0 0 / cover;
}
.black_guide .big_img_banner img {
    max-width: 100%;
}
.black_guide .big_img_banner {
    top: 65px;
    right: 0%;
}
.join_black_table {
    counter-reset: numbback;
}
.join_black_table h3 {
    font-size: 20px;
    font-weight: bold;
}
.join_black_table li{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.join_black_table li:nth-child(2n) {
    flex-direction: row-reverse;
}
.join_black_table .wrap {
    position: relative;
    padding-left: 50px;
}
.join_black_table .wrap::before {
    counter-increment: numbback;
    content: ""counter(numbback)"";
    width: 36px;
    height: 36px;
    background: #ffb300;
    color: #fff;
    font-size: 21px;
    border-radius: 50%;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    position: absolute;
    left: 0;
    top: -3px;
}
.blackjack .casino_needs .img_wrap {
    background: #FFB300;
    color: #fff;
    box-shadow: none;
}
.black_tips {
    counter-reset: numbback;
}
.black_tips .wrap h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    position: relative;
    padding-left: 50px;    
}

.black_tips .wrap h3::before {
    counter-increment: numbback;
    content: ""counter(numbback)"";
    width: 36px;
    height: 36px;
    background: #249E56;
    color: #fff;
    font-size: 21px;
    border-radius: 50%;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    position: absolute;
    left: 0;
    top: -3px;
}
.black_tips img {
    height: 228px;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

.black_rules li {
    position: relative;
    padding-left: 35px;
    margin: 1rem 0;
}
.black_rules li span {
    color: #AD4058;
    font-weight: bold;
}
.black_rules li:before{
    content: "";
    background: url(../images/blackjack-gambling-guide/chip.png)no-repeat scroll 0 0;
    position: absolute;
    left: 0;
    width: 20px;
    height:20px;
    top:3px;
}
.blackimprove_chance .image {
    position: absolute;
    top: -90px;
}