/* ############################################################   Responsive  ###############################################################*/
@media (min-width:1350px) {
.container {
    max-width: 1250px;
}
}


@media (max-width:1570px) {
    .sport-guide .big_img_banner {
        right: 0;
        max-width: 700px;
    }
    .sport-guide .big_img_banner img {
        max-width: 80%;
        float: right;
    }
}
@media (max-width:1430px) {
    .dealer-guide .big_img_banner img {
        max-width: 511px;
    }  
    .payline_slots .image {
        position: static;
        left: -10%;
        top: -4%;
    } 
    .black_guide .big_img_banner {
        top: 40px;
    }          
}

@media (max-width:1349px) {
    .container {
        max-width: 90%;
    }

    .nw_header form {
        margin: 0 1rem;
        flex: 1;
        max-width: unset;
    }
    .review_page .slot_bar .content {
        font-size: 1.5rem;
    }
    .slot_bar .container-fluid {
        max-width: 1100px;
    } 
        
}   

@media (max-width:1199px) {
    .nw_header {
        padding: 1rem 0;
    }

    .nw_header .nav-link {
        font-size: 11px;
        padding: 0 6px !important;
    }

    .gamb_box .bonus_box .title {
        font-size: 13px;
    }

    .gamb_box .cards_logo li {
        margin-bottom: 5px;
    }

    .icon_slots {
        padding-left: 0rem;
    }

    .container {
        max-width: 95%;
    }

    footer .footer-widget li.ft-space {
        padding: 0 20px;
    }
    .slot_bar .container-fluid {
        max-width: 90%;
    }

    .cash_bonus strong {
        font-size: 50px;
    } 
    .cash_bonus span {
        font: normal normal bold 17px/18px Open Sans;
        display: block;
        max-width: 60px;
    } 
    .review_page .promo_nav li a br{display: none;}  
    .review_page .welcome_boxes li .wb_box h3 { 
        font-size: 21px;
    }
    .review_page .welcome_boxes li .wb_box {
        width: 92%;
        padding: 0.5rem !important;
    }
    .pros_cons.with_methods .inner_content, .with_methods .content.pointer ul, .with_methods .content p {
        padding: 1rem 1rem;
    }
    .featured_box span {
        font-size: 13px;
    }
    .content_box.beg-guide {
        margin-top: 0;
    } 
    .betting-guide.sport-guide, .betting-guide.dealer-guide {
        height: auto;
        padding: 5rem 0;
        align-items: center;
        text-align: center;
    }
    .featured_box .card-body .logo {
        width: 100%;
        max-width: 342px;
    }
    .dealer_vs .col {
        flex: 1 0 100%;
        max-width: 100%;
    }
    .main_dealer_vs{padding-bottom:3rem;}
    .col.mid-vs{ margin: 1rem 0; }  
    .dealer_vs {
        padding: 2rem;
    }    
    .top_tips::before {
      display: none;  
    }                           
}

@media (max-width:991px) {
    footer .footer-links ul li a {
        padding: 0 15px 0 0px;
    }

    footer h3 {
        margin: 0 0 15px;
    }

    footer .footer-contact {
        border-radius: 2px;
        max-width: 100%;
    }

    footer .footer-contact-inner {
        border-radius: 2px;
    }

    footer {
        padding: 50px 0 0 0;
    }

    footer .footer-bottom {
        margin-top: 10px;
    }

    footer .footer-bottom p {
        text-align: center;
    }

    .nw_header form {
        margin: 0 20px;
        max-width: 210px;
    }

    .nw_header form input, .nw_header form input:focus {
        color: #fff;
        background-color: #000;
        box-shadow: none;
        border-color: #fff;
    }

    .nw_header .nav-link img {
        filter: invert(1);
    }

    .nav-open .navbar-nav {
        margin-top: 1rem;
    }

    .nav-open .navbar-nav > li > a:hover {
        background: #5d5d5d;
        color: #fff;
    }

    .nav-trigger {
        z-index: 4;
        height: 35px;
        width: 60px;
        overflow: initial;
        color: transparent;
        white-space: nowrap;
        text-indent: 100%;
        position: relative;
        top: 0px;
        margin: 0px 0 0 0px;
    }

    .nav-trigger span {
        top: 50%;
        transform: translate(-50%, -50%);
        transition: background .3s;
        right: -13px;
    }

    .nav-open .nav-trigger span {
        background: transparent;
    }

    .nav-trigger span, .nav-trigger span::before, .nav-trigger span::after {
        position: absolute;
        height: 5px;
        width: 40px;
        background: #249e56;
        border-radius: 5px;
    }

    .nav-trigger span::before, .nav-trigger span::after {
        content: '';
        top: 0;
        left: 0;
        transition: background .3s, transform .3s;
    }

    .nav-trigger span::before {
        transform: translateY(-10px);
    }

    .nav-trigger span::after {
        transform: translateY(10px);
    }

    .nav-open .nav-trigger span::before {
        transform: rotate(-45deg);
        background: #fff;
    }

    .nav-open .nav-trigger span::after {
        transform: rotate(45deg);
        background: #fff;
    }

    .nav-container {
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        height: 100% !important;
        width: 90%;
        max-width: 250px;
        background: #111;
        overflow: auto;
        transform: translateX(100%);
        transition: transform .5s cubic-bezier(.07, .23, .34, 1);
        display: unset !important;
        padding-top: 5rem;
    }

    .nav-open .nav-container {
        transform: translateX(0);
    }

    .nav-open .navbar-nav > li > a {
        padding: 14px 20px !important;
        font-size: 14px;
        color: #fff;
        margin: 0;
    }

    .gamb_box {
        flex-direction: column;
    }

    .gamb_box .left_side {
        padding-right: 0;
    }

    .gamb_box .right_side {
        margin-top: 2rem;
        width: 100%;
    }

    .icon_slots {
        padding-top: 18px;
    }

    footer .footer-top {
        padding: 3rem 0 0rem 0;
    }

    footer .footer-widget li.ft-space {
        padding: 0 15px;
        width: 25%;
    }

    .footer-about img {
        width: 100%;
        margin-top: -5px;
    }

    .tandc p {
        padding-right: 0;
        width: 100%;
        text-align: center;
    }

    .tandc .read_review {
        margin: 0 auto;
    }

    .cmn-padd {
        padding: 3rem 0;
    }
    .review_banner .ylw_play_btn {
        width: 100%;
        max-width: 285px;
        display: inline-block;
    }
    .review_page .promo_nav li a {
        font: normal normal 600 12px/15px Open Sans;
    }
    .review_page .welcome_boxes ul.wb_main {
        margin: 0 -10px;
    }
    .review_page .welcome_boxes .wb_main > li {
        margin: 10px;
        flex: 0 0 calc(50% - 20px) !important;
    }
    .pros_cons .row {
        margin: 0 -10px;
    }
    .pros_cons .col-12 {
        padding: 0 10px;
    }
    .betting_option li {
        width: 25%;
    } 
    .betting_option li {
        width: 33%;
    } 
    .main-betting-guide .read_reviews a.ylw_grad_btn {
        max-width: 100%;
        margin-bottom: 1.5rem;
    }
    .main_black_box {
        height: auto;
        margin-bottom: 15px;
    }
    .featured_box .card .number {
        line-height: 154px;
        margin-right: 0;
    }  
    .betting-guide h1 {
        font-size: 2rem;
    }
    .casino_slot .heading::before{
        display: none;
    }
    .main_dealer_vs {
        padding-bottom: 3rem;
        background: none;
    } 
    .join_black_table .wrap::before{
        position: relative;
    }
    .join_black_table .image {
        margin-bottom: 2rem;
    }                                       
}

@media (max-width:767px) {

    /* #############   mobile nav  ###########*/
    .common-banner h1 {
        font-size: 28px;
    }

    .footer-about p {
        font-size: 10px;
        line-height: 20px;
    }

    .footer-links ul li a {
        padding: 0 15px 0 0px;
        display: block;
        font-size: 10px;
    }

    .black_box {
        margin-bottom: 2rem;
    }

    .trust_us .img_wrap img {
        width: 100%;
        max-width: 100%;
    }

    footer .footer-play p {
        padding-right: 0;
    }

    footer .footer-widget {
        flex-wrap: wrap;
    }

    footer h3 {
        font-size: 13px;
    }

    footer .footer-about h4 {
        font-size: 13px;
    }

    .casino_program .box {
        margin-bottom: 1rem;
    }

    .casino_program .col-12:last-child .box {
        margin-bottom: 0;
    }

    .hash-sell {
        margin: 0rem 0 1rem 0;
    }

    .hash-sell h2 {
        font-size: 1.5rem;
    }

    .rec_box h3 {
        margin-bottom: 1rem;
    }

    .common-banner {
        padding: 4rem 0;
    }

    .common-banner h3 {
        margin-top: 1rem;
    }

    .gamb_box .right_side {
        text-align: center;
    }

    .cards_logo {
        justify-content: center;
    }

    .star_review_box {
        justify-content: center;
    }
    .gamb_box .pros {
        margin-bottom: 1.5rem;
    }
    .gamb_box {
        padding: 2rem 2rem;
    }
    .game_guides.cmn-padd {
        padding-bottom: 0;
    } 
    .cmn_content .cards_logo {
        justify-content: flex-start;
    }
    .with_methods .container .row::before {
        display: none;
    } 
    .review_page .slot_bar .content {
        flex-direction: column;
        text-align: center;
        padding: 0;
    } 
    .review_page .slot_bar .content img {
        position: relative;
        padding-bottom: 2rem;
        max-width: 100px;
    }
    .review_page .claim_bonus strong {
        font-size: 14px;
    }  
    .review_page .claim_bonus_inner {
        flex: 1;
    }  
    .sites_wrap {
        padding: 20px;
    }    
    .sites_wrap .drop_tick {
        font-size: 16px;
    } 
    .featured_box .box {
        padding: 0 20px;
        flex: 1 0 100%;
    }
    .featured_box .card .number {
        line-height: normal;
        margin-right: 0;
        border: none;
    }
    .featured_box .card-body {
        padding: 2rem 2rem;
    }
    .main_black_box {
        padding: 2rem 25px !important;
    }    
    .roulette-dealer .wrapper{
        padding: 2rem;
    } 
    .step_guide .number {
        position: relative;
        right: unset;
        display: flex;
        justify-content: center;
    }
    .step_guide h3 {
        margin: 1.5rem 0 1rem 0;
    } 
    .step_guide .image {
        margin-top: 1rem;
    }
    .step_guide .wrap_box {
        margin-left: 0;
    }
    .blackjack .casino_needs .img_wrap{
        margin: 1rem 0;
    }                                          
}

@media (max-width:575px) {
    footer .footer-widget li.ft-space {
        width: 50% !important;
        max-width: 50% !important;
        flex: auto;
        margin-bottom: 20px;
        padding: 0 15px 0 0;
    }

    .black_list_logo::before {
        width: 100%;
    }

    .black_list_logo h3 {
        font-size: 15px;
        margin-left: 1rem;
    }

    .black_box {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .black_box .grand span {
        display: inline-block;
    }

    footer h3 {
        font-weight: bold;
        margin: 0 0 8px;
    }

    footer .footer-bottom {
        margin-top: 0;
    }

    footer .stay_connect .inner {
        padding: 1rem 0;
    }

    .casino_program .box h3 {
        max-width: 100%;
    }

    .free_games .col-12:last-child .card_box {
        margin-bottom: 0;
    }
    .rec_box h3 {
        font-size: 20px;
    }
    .gamb_box .main_bonus_box {
        flex-wrap: wrap;
    }    
    .gamb_box .bonus_box {
        border: 1px solid #ccc !important;
        flex: 100%;
    }
    .gamb_box .bonus_box:nth-child(1), .gamb_box .bonus_box:nth-child(2) {
        border-right: 0;
        border-bottom: 0 !important;
    }  
    .gamb_box::before {
        padding: 3px 15px;
        font-size: 17px;
    } 
    .hd-2 {
        font-size: 22px;
    }  
    .review_page .promo_nav .bg_special a {
        width: 160px;
    }
    .highlight_section .content {
        padding: 1rem;
    } 
    .content_quote .main_title {
        font-size: 1.5rem;
        top: 0;
        max-width: 100%;
        position: relative;
        text-align: center;
    }
    .content_quote blockquote {
        font-size: 17px;
    }
    .betting_option li {
        width: 50%;
    }
    .dark-grn-tick li {
        width: 50%;
    }
    .featured_box .card-body .logo {
        width: auto;
    }  
    .liveguide-featured-box .pay_method, .liveguide-featured-box .compatible_with {
        flex: 0 0 auto;
        width: 100%;
        text-align: center;
    }
    .payline_slots .adjust::before{display: none;}                                               
}

@media (max-width:480px) {
    footer .footer_menu li a::after {
        right: -2px;
        top: 1px;
    }

    footer .footer_menu li a {
        padding: 0 5px;
        font-size: 11px !important;
    }
    .review_page .welcome_boxes .wb_main > li {
        margin: 6px 10px;
        flex: 0 0 calc(100% - 20px) !important;
    }
    .dark-grn-tick li {
        width: 100%;
        padding-bottom: 1rem;
    }    
}

